<!DOCTYPE html>
<html lang="fr">

<head>
    <title>
        La Fanfare Invisible {{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        @font-face {
            font-family: "Growly Grin";
            src: url("/image_menu/Growly-Grin.ttf.woff") format("woff");
        }

        body {
            max-width: 771px;
            margin: auto;
            font-family: sans-serif;
            padding: 1rem;
        }

        nav {
            text-align: center;
        }

        nav img {
            padding-bottom: 1em;
            max-width: 100%;
        }

        @media screen and (min-width: 800px) {
            .menu_text {
                font-family: "Growly Grin", sans-serif;
                font-size: 36px;
            }

            .menu_text a {
                text-decoration-line: none;
                color: black;
                padding: 10px;
            }
        }

        @media screen and (max-width: 800px) {
            .menu_text {
                font-family: "Growly Grin", sans-serif;
                font-size: 22px;
            }

            .menu_text a {
                text-decoration-line: none;
                color: black;
                padding: 5px;
            }
        }

        .menu_text a:visited {
            color: black;
        }

        .menu_text a:hover {
            color: #FA4C07;
        }

        .banner {
            max-width: 708px;
            width: 100%;
        }

        .block {
            padding-top: 3em;
            text-align: justify;
        }

        .center {
            text-align: center;
        }

        ul {
            list-style: none;
        }

        ul li::before {
            content: "— ";
        }

        .repertoire_flex {
            display: flex;
            flex-flow: row wrap;
        }

        .repertoire_flex div {
            flex: 1 1 45%;
        }

        .repertoire {
            padding-left: 1em;
            padding-right: 1em;
        }

        .repertoire:not(:last-child) {
            margin-bottom: 2em;
        }

        .repertoire dl {
            text-align: left;
        }

        .repertoire dd {
            font-size: 80%;
            margin: 0 0 1em;
            padding: 0.5em;
            border: black;
            border-style: none solid solid solid;
        }

        .repertoire details {
            padding-top: 0.1em;
        }

        .repertoire summary {
            cursor: pointer;
        }

        .repertoire ul {
            padding: 0.5em 0.5em 0.5em 2em;
        }

        .repertoire li::before {
            content: none;
        }

        .noir dt {
            border: black;
            border-style: solid solid none solid;
            background-color: black;
            color: white;
        }

        .rouge dt {
            border: black;
            border-style: solid solid none solid;
            background-color: #FA4C07;
            color: white;
        }
    </style>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="/script.js"></script>
</head>

<body>
    <nav>
        <img src="/image_menu/fanfinv_bandeau.webp" alt="banière fanfare invisible" class="banner" />
        <div class="menu_text">
            <a href="/accueil">Accueil</a>
            <a href="/repertoire">Répertoire</a>
            <a href="/agenda">Agenda</a>
            <a href="/contact">Contact</a>
            <a href="/liens">Liens</a>
        </div>
        <img src="/image_menu/trait.jpg" />
    </nav>
    <main>
        {{ content | safe }}
    </main>
    <footer class="center">
        <img src="/image_menu/badge_fanfareinvisible_185px.webp" alt="gidouille fanfanre invisible" width="185px" />
    </footer>
</body>

</html>