<!DOCTYPE html>
<html lang="fr">

<head>
    <title> La Fanfare Invisible {{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        body {
            font-family: sans-serif;
            margin: 16px;
            font-size: 18px;
            line-height: 1.5;
        }

        h1 {
            font-size: 24px;
        }
    </style>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="/script.js"></script>
</head>

<body>
    <nav>
        <a href="/">Retour à l’accueil</a>
    </nav>
    <main>
        {{ content | safe }}
    </main>
</body>

</html>