---
layout: mobile.njk
title: Paroles
---

<h1>la fanfare Invisible&nbsp;: paroles</h1>
<div x-data="{ filter: '' }">
	<input placeholder="filter" x-model="filter"></input>
	<button @click="filter = ''">Effacer</button>
	{% for group in repertoire.categories %}
	{% for morceau in group.group %}
	{% if morceau.paroles %}
	<details x-show="contains(`{{morceau.title}}`, filter)">
		<summary>{{ morceau.title }}</summary>
		<p>
			{{ morceau.paroles | markdown | safe }}
		</p>
	</details>
	{% endif %}
	{% endfor %}
	{% endfor %}
</div>