---
layout: layout.njk
title: Répertoire
---

<div class="center" x-data="{ filter: '' }">
    <b>Retrouvez ici partoches et enregistrements des morceaux de la Fanfare Invisible,<br />et ceux de nos amis de la
        Fanfare de Lutte (Lille)</b>
    <h2>Fanfare Invisible (mise à jour&nbsp;: janvier 2025)</h2>
    <input placeholder="filter" x-model="filter"></input>
    <button @click="filter = ''">Effacer</button>
    <div class="repertoire_flex">
        {% for group in repertoire.categories %}
        <div class="repertoire">
            <h3>{{ group.group_title }}</h3>
            <dl class="noir">
                {% for morceau in group.group %}
                <div x-show="contains(`{{morceau.title}}`, filter)">
                    <dt>{{ morceau.title }}</dt>
                    <dd>
                        <a href="{{ morceau.link }}">{{ morceau.description if morceau.description is defined and
                            morceau.description != "" else "lien vers les partoches" }}</a>
                        {% if morceau.paroles is defined and morceau.paroles != "" %}
                        <details>
                            <summary>Les paroles</summary>
                            <p>{{ morceau.paroles | markdown | safe }}</p>
                        </details>
                        {% endif %}
                        {% if morceau.histoire is defined and morceau.histoire != "" %}
                        <details>
                            <summary>L’histoire</summary>
                            <p>{{ morceau.histoire | markdown | safe }}</p>
                        </details>
                        {% endif %}
                    </dd>
                </div>
                {% endfor %}
            </dl>
        </div>
        {% endfor %}
        <div class="repertoire">
            <h2>Fanfare de Lutte (Lille)</h2>
            <dl class="rouge">
                {% for group in flutte.categories %}
                {% for morceau in group.group %}
                <div x-show="contains(`{{morceau.title}}`, filter)">
                    <dt>{{ morceau.title }}</dt>
                    <dd>
                        <a href="{{ morceau.link }}">{{ morceau.description if morceau.description is defined and
                            morceau.description != "" else "lien vers les partoches" }}</a>
                    </dd>
                    {% endfor %}
                    {% endfor %}
                </div>
            </dl>
        </div>
    </div>
</div>