---
layout: layout.njk
title: Slogans
---

<h1>Certains de nos slogans</h1>
<div>
	{% for cat in slogans.Slogans %}
	<details>
		<summary>{{ cat.category }}</summary>
		<p>
			{{ cat.slogans | markdown | safe }}
		</p>
	</details>
	{% endfor %}
</div>